.code-area, .lineno {
    -fx-highlight-fill: #0f519c;
    -fx-background-color: #1E1E1E;
    -fx-font-family: Consolas;
    -fx-font-size: 14px;
}

.lineno {
    -fx-text-fill: #707070;
}

.caret {
    -fx-stroke: #D4D4D4;
    -fx-stroke-width: 2px;
    -fx-smooth: false;
}

.asm-text {
    -fx-fill: #D4D4D4;
}

.asm-mnemo {
    -fx-fill: #569cd6;
    -fx-font-weight: bold;
}

.asm-register {
    -fx-fill: #C586C0;
}

.asm-size {
    -fx-fill: #6b6d9f;
}

.asm-number {
    -fx-fill: #4ebba2;
}

.asm-comment {
    -fx-fill: #608b4e;
}

.asm-label {
    -fx-fill: #d7976a;
    -fx-font-weight: bold;
}